{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-4">
    <h1>{{title}}</h1>
  </div>
  <div class="col-4">
    {% now "jS F Y H:i" as date_now %}
    <h3>{{date_now}}</h3>
  </div>
</div>
<table class="table table-bordered border-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last_update</th>
      <th scope="col">Row</th>
    </tr>
  </thead>
  {% for player in player_list %}
    <tbody>
      <tr>
        <th scope="row"><a href="/player/{{player.id}}">{{player.name}}</a></th>
        <td>{{player.last_update}}</td>
        <td>{{player.row_session.row}}</td>
      </tr>
    <tbody>
  {% endfor %}
</table>
{% endblock content%}